Package: com.walkerbagley.caged
Name: Caged
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome widget for your home screen creating a background for your apps.
Author: Walker Bagley
Maintainer: Walker Bagley
Section: Widgets
Depends: com.matchstic.xenhtml
